{% extends "layout.html" %}

{% block heading %}
    Lioa Liao!
{% endblock %}


{% block body %}
    <div class="container">
      <div class="row mt-5">

        <div class="col-lg-7 mx-auto">
        <div class="card text-center">
          <div class="card-header">
            <h3>Log in</h3>
          </div>

          <div class="card-body">
            <form action="{{  url_for('login')  }}" method="post">
              <div class="form-group mt-4">
                <input name="username" id="username" autocomplete="off" autofocus class="form-control" placeholder="Username" type="text">
              </div>
              <button class="btn btn-primary btn-block" id="login" type=submit>Log in</button>
            </form>
          </div>

        </div>
        </div>

      </div>
    </div>


{% endblock %}